body {
    color:aliceblue;
    font-family:sans-serif;
    font-size:large;
    background-color: rgba(2, 2, 2, 0.7)
}
 .line1{
     color:aliceblue;
     padding: 20px;
     font-size:150%;
     font-weight: 400;
}

img{
    padding:60px;
}
 .container{
     border: 8px solid rgba(220, 220, 236, 0.7);
 }

 .navbar-nav{
     background-color:gold;
     padding:8px;
 }




