@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(21, 20, 51, 0.4)
}

.navbar .nav-link {
    font-size: 15px;
    font-weight: 600;
}